{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:cypress/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["react", "simple-import-sort", "@typescript-eslint", "jest", "cypress"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "eqeqeq": "error",
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "no-trailing-spaces": "error",
    "no-unused-vars": "off",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "react/prop-types": 0,
    "semi": ["error", "never"],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
